<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'authModule.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'adminModule.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename = 'roomModule.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename = 'userModule.js') }}"></script>        
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="{{ url_for('static', filename = 'style.css') }}">        
    
    </head>

    <script>
        account = authcheck()
        document.addEventListener("DOMContentLoaded", function(event){
            
                
        })
    </script>

    <body style="background-color: white">
        <div style="display:flex; flex-flow:column; height: 100%;">
            <div class="header">
                <p>Admin</p>
                <p onclick="window.location.href = '/'">Home</p>
                <p onclick="window.location.href = '/listings'">Listings</p>
                <p onclick="window.location.href = '/account'">Account</p>
            </div>
            <div style="display: flex;flex-flow: row;height: 100%;width: 100%;">
                <div class="sidebar">
                    <div class="list-item" onclick="getUsers();$(this).css('background-color', '#1d1d1d').siblings().css('background-color', '#212121')">
                        <p>Users</p>
                    </div>
                    <div class="list-item" onclick="getRoomsAdmin();$(this).css('background-color', '#1d1d1d').siblings().css('background-color', '#212121')">
                        <p>Rooms</p>                    
                    </div>
                    <div class="list-item" onclick="getAccountRequests();$(this).css('background-color', '#1d1d1d').siblings().css('background-color', '#212121')">
                        <p>Account Requests</p>                    
                    </div>
                    <div class="list-item" onclick="getLogs();$(this).css('background-color', '#1d1d1d').siblings().css('background-color', '#212121')">
                        <p>Database Logs</p>                    
                    </div>
                </div>
                <div id="control_box">
                        <div class="item">
                            <div class="header-text">Please choose an option from the sidebar.</div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>