<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'authModule.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'roomModule.js') }}"></script>        
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="{{ url_for('static', filename = 'style.css') }}">        
    
    </head>
    <body>
        
        {{r}}

    </body>
</html>